<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="~/kaiadmin-lite-1.2.0/index.html" class="logo">
                <img src="~/kaiadmin-lite-1.2.0/assets/img/kaiadmin/logo_light.svg"
                     alt="navbar brand"
                     class="navbar-brand"
                     height="20" />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item">
                    <a href="/Admin/Profile/Index/">
                        <i class="fas fa-user-circle fa-lg"></i>
                        <p>Profilim</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Category/CategoryList/">
                        <i class="fas fa-layer-group"></i>
                        <p>Kategoriler</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Destination/DestinationList/">
                        <i class="fas fa-route"></i>
                        <p>Turlar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#forms">
                        <i class="fas fa-chart-line"></i>
                        <p>İstatistikler</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#maps">
                        <i class="fas fa-chart-bar"></i>
                        <p>Grafikler</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#charts">
                        <i class="fas fa-credit-card"></i>
                        <p>Ödeme Sayfası</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../widgets.html">
                        <i class="fas fa-calendar-alt"></i>
                        <p>Rezervasyon</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Mesajlar</h4>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#base">
                        <i class="fas fa-inbox"></i>
                        <p>Gelen Kutusu</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#base">
                        <i class="fas fa-paper-plane"></i>
                        <p>Giden Kutusu</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
